<div class="jumbotron">
  <p class="lead">Enter your loan details below
  <br />and we'll explain how to optimize each payment</p>
</div>

<div class="row marketing">
  <div class="col-sm-12">
    <%= text_input :user, :name, value: "This is a prepopulated value" %>
  </div>
</div>
